@using Cresk.Enums
@model Cresk.ViewModels.TicketIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="DbTicket" asp-action="Index" method="get">
    <p>
        Status:
        <select asp-for="TicketStatus" asp-items="Html.GetEnumSelectList<TicketStatus>()">
            <option value="">All</option>
        </select>
        Priority:
        <select asp-for="TicketPriority" asp-items="Html.GetEnumSelectList<TicketPriority>()">
            <option value="">All</option>
        </select>
        Tags:
        <select asp-for="TagId" asp-items="Model.TagList">
            <option value="">No</option>
        </select>

        Search by name: <input type="text" name="SearchString" value="@Html.ValueFor(model => model.SearchString)"/>
        <input type="submit" value="Wyszukaj" />
        <a asp-action="Index">Back to Full List</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].TicketDisplayNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].TagName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].TicketPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].ModifyDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IndexDbTicketViewModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketDisplayNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority)
            </td>
            <td>
            @{
                if(item.ModifyDate >= DateTime.Today)
                {
                    @Html.Raw(item.ModifyDate.ToString("H:mm"))

                }
                else
                {
                    @Html.Raw(item.ModifyDate.ToString("MMMM dd, yyyy"))
                }
            }
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
