@using Cresk.Enums
@model Cresk.ViewModels.TicketStatusViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="DbTicket" asp-action="Index" method="get">
    <p>
        <select asp-for="TicketStatus" class="form-control" asp-items="Html.GetEnumSelectList<TicketStatus>()">
                <option value="">All</option>
        </select>

        Search: <input type="text" name="SearchString" value="@Html.ValueFor(model => model.SearchString)"/>
        <input type="submit" value="Wyszukaj" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].TicketDisplayNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].Title)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].TicketPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexDbTicketViewModels[0].ModifyDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IndexDbTicketViewModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketDisplayNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority)
            </td>
            <td>
            @{
                if(item.ModifyDate >= DateTime.Today)
                {
                    //@Html.DisplayFor(modelItem => item.ModifyData.ToString("H:mm"))
                    @Html.Raw(item.ModifyDate.ToString("H:mm"))

                }
                else
                {
                    //@Html.DisplayFor(modelItem => item.ModifyData.ToString("MMMM dd, yyyy"))
                    @Html.Raw(item.ModifyDate.ToString("MMMM dd, yyyy"))
                }
            }
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
